{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_field_sets %}
{% if opts.model_name == 'customer' %}
<div class="submit_row">
    <form>
        <h2>Document Request</h2>
        <div id="inputs">
            {% for type in doctypes %}
            <label for="type{{ type }}">{{ type }}:</label>  
            <input type="checkbox" name="document_type{{ forloop.counter }}" id="type_{{ type }}" value="{{ type }}"><br>
            {% endfor %}
            <div id="other_input">
                <label for="type_other">Other:</label> 
                <input type="checkbox" name="document_type_other" id="type_other" onclick="displayInputBox()">
                <input type="hidden" id="other_textbox">
            </div>
        </div>
        <div>
            <label for="email_message">Message</label>
        </div>
        <div>
            <textarea name="message" id="email_message" cols="100" rows="15"></textarea>
        </div>
        <div>
            <input type="submit" value="Send" name="send" formaction="/send/" formmethod="post"/ onclick="updateValues()">
            <input type="hidden" value="{{ original.id }}" name="customer_id"/>
        </div>
    </form>
</div>
<script>
    function updateValues() {
        var checkBox = document.getElementById("type_other");
        var textInput = document.getElementById("other_textbox");
        checkBox.value = textInput.value

    }

    function displayInputBox() {
        var checkBox = document.getElementById("type_other");
        var textInput = document.getElementById("other_textbox");
        if (checkBox.checked == true){
            textInput.type = "text";
            setMessage();
        } else {
            textInput.type = "hidden";
        }
    }
</script>
{% endif %}
{% endblock %}